(CapStone RAG+Telegram) It_HelpDesk_Sylvester.json
{
  "name": "IT Helpdesk Support Agent with RAG and Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-document",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "id": "47be3f80-0c6a-426e-a9ff-9dc515c43584",
      "name": "Upload Webhook",
      "webhookId": "upload-document-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, filename: $('Upload Webhook').item.json.body.filename, message: 'Document ingested successfully' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        240
      ],
      "id": "4512fea2-c711-4452-8e8a-c52066badb85",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message:\n{{ $json.message.text }}\n\nInstructions:\n- If Name and Employee ID are not yet captured, extract them from the user message.\n- If both are present and valid, confirm and proceed to assist.\n- If missing or invalid, ask the user to provide both Name and Employee ID.\n- If already verified, answer their IT questions helpfully and update the priority score based on what you learn.",
        "options": {
          "systemMessage": "You are Aria, a friendly and efficient AI IT Helpdesk Assistant for TechCorp Pte Ltd. You support employees via Telegram and help them resolve IT issues quickly, or escalate urgent ones to the IT team.\n\nPersonality:\n- Warm, approachable, and professional — like a helpful colleague, not a cold system.\n- Use simple, clear language. Avoid technical jargon unless the user uses it first.\n- Keep responses concise and suitable for a chat interface.\n- Use light formatting where helpful (e.g. numbered steps, short bullet points).\n- Always end your reply with a follow-up question or offer of further help to keep the conversation going.\n\nYour process has two stages:\n\nSTAGE 1: EMPLOYEE VERIFICATION\n- Greet the user warmly when they first message.\n- Ask for their full name and Employee ID to get started.\n- Accept free-text input like: \"John Tan, EMP-00234\" or \"I am Sarah Lim, ID is EMP-00891\".\n- Extract the name and Employee ID from whatever format they use.\n\nExtraction rules:\n- Employee ID must follow the format EMP- followed by digits (e.g. EMP-00234).\n- Treat the remaining text as the employee name.\n- Never guess or fill in missing details.\n- If either is missing or the Employee ID format is wrong, respond warmly:\n  \"Hi there! 👋 To get you the right help, could you share your full name and Employee ID? It looks like EMP-00234. Just type both and we'll get started!\"\n\nSTAGE 2: IT SUPPORT CONVERSATION\n- Once verified, greet them by first name and ask what IT issue they need help with.\n- Use the knowledge base tool to answer questions about services, troubleshooting steps, policies, and procedures.\n- If the knowledge base does not contain the answer, say so honestly and offer to escalate:\n  \"I don't have that specific info in my knowledge base right now, but I can flag this to our IT team who will follow up with you shortly! 🙌\"\n- Never make up answers. If unsure, say so and offer to escalate.\n- Keep scoring the ticket priority in the background based on what you learn.\n\nServices TechCorp IT Helpdesk covers (use this if RAG returns nothing):\n- Password resets and account lockouts\n- Software installation and licensing\n- VPN and remote access issues\n- Hardware requests and laptop replacements\n- Email and Microsoft 365 problems\n- Network and Wi-Fi connectivity issues\n- Printer and peripheral setup\n- System access and permissions requests\n- Cybersecurity incident reporting\n- IT onboarding support for new hires\n\nPriority scoring factors (0 to 100):\n- System is completely down or unusable: high score\n- Multiple users or a whole team affected: high score\n- Revenue-critical or customer-facing system involved: high score\n- Issue has been ongoing for more than a day: higher score\n- Minor inconvenience affecting only one user: low score\n\nStrict output rules:\n- Every single response MUST be valid JSON — no exceptions.\n- Never output plain text outside the JSON structure.\n- The reply_to_user field is what gets sent to the employee on Telegram — make it friendly and helpful.\n- If you cannot produce a proper answer, still return valid JSON with a friendly fallback in reply_to_user.\n\nRequired JSON structure:\n{\n  \"reply_to_user\": \"\",\n  \"user_verified\": true,\n  \"ticket_data\": {\n    \"name\": \"\",\n    \"employee_id\": \"\",\n    \"issue_category\": \"\",\n    \"affected_system\": \"\",\n    \"users_affected\": \"\",\n    \"issue_description\": \"\"\n  },\n  \"priority_score\": 0,\n  \"escalate\": false,\n  \"resolution_notes\": \"\",\n  \"conversation_summary\": \"\"\n}\n\nBehaviour rules:\n- Before verification: set user_verified to false and priority_score to 0.\n- After verification: set user_verified to true and begin scoring.\n- Set escalate to true only when priority_score exceeds 69.\n- Always populate reply_to_user with a non-empty, friendly message.\n- When a user asks what services are provided, list the services in a friendly readable format inside reply_to_user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        528,
        880
      ],
      "id": "e3f98135-17da-4661-a0ef-5c43bb394049",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search this tool to find answers from the IT knowledge base including troubleshooting guides, known issues, software policies, password reset procedures, hardware request processes, and IT service catalogue. Always try this tool first before answering from general knowledge.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        1104
      ],
      "id": "b0d9091b-76ef-45f8-a7c6-54775b9c747a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "JKrwRdWtYCEvVyaq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        1296
      ],
      "id": "58c88fb0-d626-49bd-ae29-44786357744f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "gM0mJlEHsFMuBAW7",
          "name": "OpenAI Bell"
        }
      }
    },
    {
      "parameters": {
        "content": "## IT Knowledge Base Ingestion\nWebhook receives the IT support knowledge base document (troubleshooting guides, FAQs, known issues, service catalogue), embeds it via OpenAI, and stores vectors in the Supabase documents table for RAG retrieval by the helpdesk agent.\n",
        "height": 608,
        "width": 1648
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        0
      ],
      "typeVersion": 1,
      "id": "b808848d-526b-40b1-8506-eec8b3ac8ffa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Telegram IT Helpdesk Bot (Aria)\nEmployees message Aria with their Name and Employee ID to raise a support ticket. Aria answers IT questions using the knowledge base, scores ticket priority 0-100, and auto-escalates to the IT team via email when priority exceeds 70.\nFix: Agent has built-in service list fallback so it always replies even if RAG is empty.\n",
        "height": 784,
        "width": 2000
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        672
      ],
      "typeVersion": 1,
      "id": "d99ce151-51e2-47c7-b5da-d2d5828e1ec6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        880
      ],
      "id": "18d2ca6f-9b04-4f50-896b-847b17dc82bb",
      "name": "Telegram Trigger",
      "webhookId": "a20bd5bb-9094-488c-b9a4-59475c580519",
      "credentials": {
        "telegramApi": {
          "id": "dF9NfL9fUx3FTys4",
          "name": "Telegram Bell account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c98d519-3025-40aa-aed7-35fbd9ea09a0",
              "leftValue": "={{ $json.priority_score }}",
              "rightValue": 69,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        880
      ],
      "id": "bac3260d-7456-486b-9de6-c083e3850acb",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "=itsupport@techcorp.com.sg",
        "subject": "🚨 High Priority IT Ticket – {{$json.Name}} (Score: {{$json.priority_score}}/100)",
        "message": "=A high-priority IT support ticket has been raised via the Telegram Helpdesk Bot and requires immediate attention.\n\nEmployee Details:\nName: {{$json.Name}}\nEmployee ID: {{$json.EmployeeID}}\nPriority Score: {{$json.priority_score}} / 100\n\nIssue Summary:\n{{$json.issue_summary}}\n\nPlease action this ticket as soon as possible.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        784
      ],
      "id": "2006b9b8-7f8a-4079-aed3-81a2115d9493",
      "name": "Send a message",
      "webhookId": "931e4bcd-4001-4f73-bfae-461ed2e8b289",
      "credentials": {
        "gmailOAuth2": {
          "id": "MTzer4MNXRwyE36l",
          "name": "Gmail OAuth (Sales Account)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.reply_to_user }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        976
      ],
      "id": "e7ca44f4-ced1-4d30-ad03-b3799a8d50b7",
      "name": "Send a text message",
      "webhookId": "42b82faf-7477-422a-a3af-60186ee80a7e",
      "credentials": {
        "telegramApi": {
          "id": "dF9NfL9fUx3FTys4",
          "name": "Telegram Bell account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        1104
      ],
      "id": "4ab351f6-2265-4861-9a57-2cbb366cdc28",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Get raw output from AI Agent\nlet raw = $json.output ?? \"\";\n\n// Remove markdown code fences if the model wrapped the JSON\nraw = String(raw).replace(/```json/g, '').replace(/```/g, '').trim();\n\n// Safe fallback reply — always non-empty so Telegram never gets a blank message\nconst FALLBACK_REPLY = \"Hi! I'm Aria, your IT Helpdesk Assistant 👋 I had a small hiccup processing that. Could you send your message again? I'm here to help!\";\n\n// Parse JSON safely\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  // If the raw output is plain readable text (agent skipped JSON), use it directly\n  const usableRaw = raw && raw.length > 5 && raw.length < 4000 ? raw : FALLBACK_REPLY;\n  return [\n    {\n      json: {\n        parse_success: false,\n        Name: \"\",\n        EmployeeID: \"\",\n        reply_to_user: usableRaw,\n        priority_score: 0,\n        issue_summary: \"\",\n        error: \"JSON parsing failed — used raw output as reply\"\n      }\n    }\n  ];\n}\n\n// Extract fields from nested ticket_data\nconst name         = parsed.ticket_data?.name              || \"\";\nconst employeeId   = parsed.ticket_data?.employee_id       || \"\";\nconst issueSummary = parsed.ticket_data?.issue_description || parsed.resolution_notes || \"\";\n\n// Ensure reply_to_user is never empty\nconst replyText = (parsed.reply_to_user && parsed.reply_to_user.trim().length > 0)\n  ? parsed.reply_to_user\n  : FALLBACK_REPLY;\n\n// Return flat structure for downstream nodes\nreturn [\n  {\n    json: {\n      parse_success: true,\n      Name: name,\n      EmployeeID: employeeId,\n      reply_to_user: replyText,\n      priority_score: parsed.priority_score || 0,\n      issue_summary: issueSummary\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        880
      ],
      "id": "97d38360-7eeb-4226-a92e-17a87ef29f11",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        688,
        240
      ],
      "id": "df4010a9-c019-4847-893b-fefc36ffd45c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "JKrwRdWtYCEvVyaq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        464
      ],
      "id": "0273be6a-c1a1-433d-8ca7-63137a4b5193",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gM0mJlEHsFMuBAW7",
          "name": "OpenAI Bell"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Upload Webhook').item.json.body.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Upload Webhook').item.json.body.filename }}"
              },
              {
                "name": "uploaded_at",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        464
      ],
      "id": "79256c38-5eff-40a8-9829-15d9d420c1b7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        400,
        1088
      ],
      "id": "726c53c0-eeb6-412c-845f-de53ba8e39fb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gksbJzfExRKMKFf6",
          "name": "Google Gemini(PaLM) Bell"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Webhook": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d08eb78f-38c5-4d02-bd94-2fa63f19a8fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd9d815cb100cab73a9cd63cc3f30fd090e73e9edbdc09a51a025bdf1bf015af"
  },
  "id": "KrYn8uoBXEiZCt0m",
  "tags": [
    {
      "updatedAt": "2026-04-15T10:13:42.944Z",
      "createdAt": "2026-04-15T10:13:42.944Z",
      "id": "AlEgvUKjNY9ItMfA",
      "name": "Activity"
    }
  ]
}
